body{
    margin: 0;
    padding: 0;
    background-color: #2D1E6B;
}
header{

}
#navbar{
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#logo-container{
    display: flex;
    align-items: center;
    
}
#logo-container img {
    width: 25px;
    height: 22px;
}
#nav-item {
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

#nav-item li {
    cursor: pointer;
}
#main-header {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    position: relative;
}

#main-header .right {
    width: 90%;
    height: 100%;
    z-index: -10;
    mix-blend-mode: color-dodge;
}
#main-header .left {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 60%;
    height: 100%;
    color: #ffffff;
}

#main-header .right img {
    width: 55%;
    height: 50vh;
    margin-top: 10vh;
    margin-left:70vh;
}

#main-header .left .big-text {
    font-size: 50px;
    color: #ffffff;
}

#main-header .left #overview {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 15px;
}
#main-header .left #overview .overview-item {
    display: flex;
    flex-direction: column;
}
#main-header .left #overview .overview-item .h4 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}

.gradient-text {
    color: #ff00f2;
}

#main-header .left #overview .overview-item p{
    margin: 0;
    padding: 0;
    font-weight: 900;
}

.buttons {
    display: flex;
}
.btn {
    padding: 10px 20px;
    margin: 0 10px;
    transform: skewX(-20deg);
    cursor: pointer;
    border: 1px solid #7d63f1;
    background-color: transparent;
    color: aliceblue;
}

.btn1 {
    background: #2D1E6B;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}

.band {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background: #ffffff40 ;
    box-shadow: 0 15px 10px 0 rgba(164, 23, 185, 0.37);
    backdrop-filter: blur(4px);
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 100px;
    color: #ffffff;
    transform: rotate(-3deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 1px solid #ffffff40;
    font-weight: 500;
}

.band img {
    width: 25px;
    height: 25px;
}

.choose-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.choose-section-title {
    font-size: 50px;
    font-weight: 700;
}

.section-description {
    width: 500px;
    font-size: 14px;
    font-weight: 50;
}

.choose-section .image-carousel{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.image-carousel img {
    height: 300px;
    width: 300px;
}

.image-carousel .center-img {
    height: 400px;
    width: 400px;

}

.discover-section{
    width: 80%;
    margin: 100px auto;
}
.discover-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff40;
    border-radius: 10px;
    background: #35276d;
    backdrop-filter: blur(4px);
    box-shadow: 0 10px 40px 0 rgba(164, 23, 185, 0.8);
}

.discover-card .img {
    margin-top: -70px;
    width: 30%;
    align-self: self-start;
}

.discover-card-detail .big-text {
    font-size:50px;
    font-weight: 300;
    margin: 0;
}
.discover-card-detail .section-description {
    font-size: 16px;
    font-weight: 200;
}
.description-card-detail-btn {
    width: fit-content;
    border: 1px solid gray;
    padding: 10px 20px;
    transform: skewX(-20deg);
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
    color: #ffffff;
}

.demo-card-section {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.demo-cards{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.demo-card {
    width: 300px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid #ffffff23;
    background: #35276D;
    box-shadow: 0 8px 32px 0  rgba(31, 38, 135, 0.37);
}
.demo-card > img {
    width: 100%;
}

.demo-prof-details {
    width: 250px;
    height: 50px
}

.demo-card > h5 {
    margin: 0;
    align-self: self-start;
    font-size: 20px;
    font-weight: 100;
}
.demo-card > .demo-prof-details {
    display: flex;
    gap: 7px;
    align-self: self-start;
}

.demo-card h5 , .demo-card p {
    margin: 0;
}

.demo-game-button {
    cursor: pointer;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    background: rgb(45, 30,107);
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
    color: #ffffff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #ffffff;
    padding: 2% 10% 0 10%;
    position: relative;
}
footer > img {
    position: absolute;
    width: 100%;
    height:500px;
    z-index: -1;
}

.footer-container .brands {
    display: flex;
    gap: 50px;
}

.footer-container .brands > img {
    height: 80px;
}
.logo-with-name {
    width: 400px;
    height: 150px;
}
 
.footer-container .about-and-links {
    display: flex;
    justify-content: space-between;

}

.footer-container .about-and-links > div {
    width: 22%;
}

.footer-container .about-and-links ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0;
    list-style: none;
}
.footer-container h4{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}